.sponsors_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sponsor_box {
  margin: 0 auto !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sponsor_box img {
  width: 20%;
  border-radius: 8px;
}
#high-sponsor {
  width: 34% !important;
}
#food-partner {
  width: 70% !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
}
.main_sponsors {
  width: 20% !important;
}

.sponsor_box div {
  width: 20% !important;
  border-radius: 8px;
}
/* .sponsor_box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
} */
@media screen and (max-width: 900px) {
  .sponsor_box {
    flex-direction: column;
  }
  #high-sponsor {
    width: 80% !important;
  }
  .sponsor_box img {
    width: 45%;
  }
  .main_sponsors {
    width: 60% !important;
  }
  #sheryians {
    width: 70%;
  }
  #made-easy {
    width: 55%;
  }
  #salon {
    width: 55%;
  }
}
