.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 10rem;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto;
  background: linear-gradient(to right, #192b53, #5c4176);
  color: white;
  height: fit-content;

}
.box1 p{
  cursor: pointer;
}
.box1,
.box2,
.box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box2 span,
.box1 span {
  font-size: 30px;
  line-height: 40px;
}
.box3 .span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 span {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 50px 10vw;
  }
}
@media screen and (max-width: 790px) {
  
  .box2 span,
  .box1 span {
    font-size: 16px;
  }
  .box3 .span {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 50px 10vw;
    height: fit-content;
  }

}
@media (min-width: 638px) and (max-width: 790px) {
  /* .container {
    margin-top: 0;
  } */
}
