.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 10rem;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* margin-top: 5rem; */
  background: linear-gradient(to right, #192b53, #5c4176);
  color: white;
  height: 250px;
  margin-top: 200px;
}
.box1,
.box2,
.box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box2 span,
.box1 span {
  font-size: 30px;
}
.box3 .span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 span {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socialMedia img {
  width: 43px;
  height: 43px;
  display: flex;
  margin-left: 10px;
  margin-top: 25px;
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 50px 10vw;
  }
}
@media screen and (max-width: 790px) {
  .container {
    position: relative;
   
    height: 400px;
    /* margin-top: 6rem; */
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 50px 10vw;
    height: 600px;
  }
}
@media (min-width: 638px) and (max-width: 790px) {
  /* .container {
    margin-top: 0;
  } */
}
