.container {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(../../public/images/software.jpeg);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  text-align: center;
  
}



.site_card_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 20px;
  flex-wrap: wrap;
  margin: auto;
}
.titlesponser{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));}
.titlesponser:hover{
  background: linear-gradient(rgba(0, 0, 0, 4), rgba(0, 0, 0, 8));
}

.cardss img {
  height: 250px;
  width: 380px;
  border-radius: 10px;
}
.headLine {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  height:80%;
  right: 0;
  font-size: 32px;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  text-align: center;
  color: white;
  transition:3s ease-in-out;
}
.cardss:hover .headLine {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}
.explore {
  width: 100%;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-size: 22px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
  bottom: -2px;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
  filter: blur(12);
}
.headLine > h3{
  margin-top: 20%;
  color: white;
}


.navbar {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0  20px 0 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navitems {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  margin-top: 50px;
  margin-right: 60px;
  justify-content: space-between;
}
.navitems .items {
  list-style: none;
  margin-right: 24px;
  cursor: pointer !important;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container .logo {
  width: 11rem;
  left: 70px;
  margin-top: 8px;
  margin-left: 40px;
}
.hamburger{
  display: none;
}
.modalnav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_item{
  color: black;
  font-size: 32px;
}
.register {
  width: 9rem;
  height: 33px;
  cursor: pointer !important;
  background-color: #94008eb5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.register span {
  color: white;
  font-weight: 900;
}
.h1line{
  font-size: 40px;
  color: white;
}

@media screen and (max-width: 790px) {
  .navitems{
    display: none;
  }
  .hamburger{
    display: block;
    margin-right: 5vw;
  }
 
  .container .logo{
    margin-left: 5vw;
    width: 8rem;
  }
}
@media screen and (max-width: 450px) {
  .h1line{
    font-size: 2rem;
  }
  .cardss {
    width: 300px;
    height: 200px;
  }
  .cardss img {
    width: 300px;
    height: 200px;
    border-radius: 12px;
  }
  .headLine > h3{
    font-size: 1.5rem;
  }
}