.container {
  text-align: center;
  color: white;
}

.container h1 {
  color: white;
}

.site_card_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
}
.titlesponser {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}
.titlesponser:hover {
  background: linear-gradient(rgba(0, 0, 0, 4), rgba(0, 0, 0, 8));
}

.cardss {
  cursor: pointer;
  transition: transform 0.1s;
  height: fit-content;
  width: fit-content;
  margin: 1em;
}

.cardss:hover {
  transform: scale(1.05);
}

.cardss img {
  height: 250px;
  width: 380px;
  border-radius: 10px;
  opacity: 50%;
}
.headLine {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headLine > h3 {
  padding: 0 1em;
  color: white;
  font-size: 2em;
}

.headLine > p {
  display: none;
}

.modalnav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_item {
  color: black;
  font-size: 32px;
}
.register {
  width: 9rem;
  height: 33px;
  cursor: pointer !important;
  background-color: #94008eb5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.register span {
  color: white;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .container h1 {
    font-size: 2em;
  }

  .headLine > h3 {
    font-size: 1.5em;
  }

  .headLine > p {
    display: block;
    border: 2px solid white;
    padding: 3px 10px;
    font-weight: 600;
  }
  .headLine > p:hover {
    color: black;
    background-color: white;
  }
}

@media screen and (max-width: 450px) {
  .cardss {
    width: 300px;
    height: 200px;
  }
  .cardss img {
    width: 300px;
    height: 200px;
    border-radius: 12px;
  }
  .headLine > h3 {
    font-size: 1.2rem;
  }
}
