html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: white !important;
  text-decoration: none;
}
h1,
h2,
h3,
a,
p,
li {
  color: white ;
}
* {
  box-sizing: border-box;
}
/* Event List css */
.ant-card-body {
  padding: 0px !important;
}
.event-cards > .ant-card-actions {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  color: white;
}
